.sec01-3{
    
    text-align: center;
    background-color: white;
    width: 100%;
    height: 250px;

}


.div01-3{

    margin: 1%;
    position: relative;
    justify-content: center;
    align-items: center;
text-align: center;
width: 30%;
height: 200px;
background-color: rgb(219, 219, 219);
display: inline-block;
border-radius: 20px;
    border-width: 2px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    font-size: 25px;

}


.div01-3:hover{

    opacity: 0.9;
    scale: 105%;
    transition: 0.5s;
    margin: 1%;
    position: relative;
    justify-content: center;
    align-items: center;
text-align: center;
width: 30%;
height: 200px;
background-color: rgb(95, 231, 255);
display: inline-block;
border-radius: 30px;
    border-width: 2px;
    border-color: rgb(3, 238, 255);
    border-style: solid;
    font-size: 25px;

}


.p01-3{
margin-top: 85px;
    display: inline-block;
    font-family: Lalezar;
}


.img01-3{

float: left;
margin-top: 25px;
margin-left: 50px;
width: 150px;
height: 150px;
}


.img011-3{

float: right;
margin-top: 70px;
    margin-right: 70px;
width: 60px;
height: 60px;

}




