.log_form-h
{
 
        display: inline-block;


        border-width: 1px;

        border-style: solid;

        border-color: rgb(0, 201, 0);

        background-color: white;

        color: gray;
      
        width: 430px;
      
        height: 40px;
      
        border-radius: 5px;
            
        flex-direction: row;
      
        align-items: center;

        margin-bottom: 30px;
}
.log_input-h
{

        all: initial;

        font: 16px system-ui;

        color: gray;

        height: 100%;

        width: 100%;

        padding: 6px 10px;

        direction: rtl;
        
}

.title-h{
    margin-right: 200px;
    font-size: 38px;
    font-weight: bold;
    font-family: Yekan Bakh;

}

.log_p-h{
    margin-right: 205px;;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-family: Yekan Bakh;


}

.sec-h{
    width: 62%;;
}

.g-recaptcha{
    margin-right: 205px;
}



.head1
{
padding-top: 50px;
background-color: rgb(27, 151, 253);
width: 100%;
height: 150px;
margin-top: -50px;
padding-left: 100px;
}

.himg
{
width: 100px;
height: 50px;
display: flex;
float: right;
padding-right: 200px;
margin-top:25px ;
margin-left:80px;
}

.hp1
{
padding-right: 60px;
width: 40px;
height: 40px;
padding: 5px;
padding-top: 25px;
}

.hp1:hover
{
        transition: 0.3s;
        filter: invert();
padding-right: 60px;
width: 40px;
height: 40px;
padding: 5px;
padding-top: 25px;
}
.hp12
{
margin-top: 7px;
width: 30px;
height: 30px;
float: right;
margin-right: 10px;
}

#log_form
{

float: right;
margin-top: 25px;
 border-width: 1px;
border-style: solid;
border-color: rgba(240, 248, 255, 0);
background-color: white;     
width: 700px;     
height:45px;     
border-radius: 10px;                 
align-items: center;
}

#log_input
{      
all: initial;
font: 20px system-ui;
color: gray;
width: 90%;
height: 40px;
float: right;
}

.icon
{
display: inline-block;
width: 20px;
height: 20px;
float: right;
margin-top: 18px;
margin-left: 5px;
color: yellow;
}

.hp123
{
text-align: center;
float: right;
display: inline-block;
height: 20px;
font-size: 18px;
font-weight: bold;
width: auto;
color: rgb(221, 242, 253);
font-family: Yekan Bakh;
}

.hp1234
{
text-align: center;
float: right;
display: inline-block;
height: 20px;
font-size: 18px;
font-weight: bold;
width: auto;
font-family: Yekan Bakh;
}

.space{
float: right;
display: inline-block;
width: 50px;
}

.sec2{
        margin-left: 30px;
        
        float: right;
        
}
.sec2:hover{
        transition: 0.3s;
float: right;
filter: invert();
}

