.sec1-p{
    text-align: center;
    width: 85%;
    height: 425px;
    margin: auto;
    border-radius:20px;
    border-color: white;
    border-width: 2px;
    border-style:solid;
    font-size: 20px;

}

.sec1-2-p{

    width: auto;
    height: 448px;
    border-width: 2px;
    border-style:solid;
    border-color: rgba(240, 248, 255, 0);

}

.sec2-p{
    
    width: 100%;
    height: 50px;
    
}
    

.sec3-p
{

    opacity: 0.9;
    float: right;
    text-align: center;
    width: auto;
    height:88%;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px  rgb(221, 221, 221);
    border-color: rgb(216, 216, 216);
    background: white;
    
}


.sec3-p:hover{

    opacity: 1;
    transition: all 0.2s;
    margin-right: 1%;
    float: right;
    text-align: center;
    width: auto;
    height:88%;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: rgb(162, 243, 255);
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    scale: 102%;

}


.img1-p{

    float: right;
    width: 30px;
    height: 30px;
    margin: 10px;
    margin-right: 25px;


}

.img2-p{

    display: block; 
    float: left;
    width: 30px;
    height: 30px;
    margin: 10px;
    rotate: 180deg;

}

.img3-p{

    display: inline-block;
    width: 100%;
    height: 65%;
    margin-bottom: -15%;

}
    
.p1-p{
    
    font-weight: bold;
    font-size: 18px;
    float: right;
    margin: 10px;
    border-color: red;
    border-style: solid;
    border-right:0px;
    border-left:0px;
    border-top:0px;
    border-width: 3px;
}



.short-text-p{

    margin-top: 10%;
    font-size: 20px;
    margin-bottom: -10%;
    
}

.short-text2-p{

    display: block;
    font-size: 20px;
    padding-top: 3%;
    margin-bottom: 0%;
    
}

.short-text3-p{
    margin-right: 3%;
    border-radius: 5px;
    float: right;
    background-color: rgba(146, 38, 254, 0.971);
    font-size: 15px;
    color: rgba(255, 255, 255, 0.815);
    margin-top: 3% ;
    font-family: Yekan bakh;
    margin-bottom: -10%;
}
.p3-p{

    display: inline-block;
    font-size: 20px;
    color: red;
    margin-bottom: 0px;
    margin-top: 5%;

}

.p4-p{

    border-radius: 10px;
    padding-top: 1%;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 25%;
    width: 15%;
    height: 35%;
    float: right;
    display: inline-block;
    font-size: 20px;
    color: white;
    background-color: rgb(0, 169, 0);

}

.p31-p{

    display: block;
    font-size: 20px;
    margin: 0%;
    color: green;

}

.section-p{

    width: 100%;
    height: 20%;
}