.head1-h
{
margin: auto;
padding-top: 50px;
background-color: rgb(27, 151, 253);
width: 1800px;
height: 150px;
margin-top: -50px;
padding-left: 100px;
}

.himg-h
{
width: 100px;
height: 50px;
display: flex;
float: right;
padding-right: 200px;
margin-top:25px ;
margin-left:80px;
}

.hp1-h
{
padding-right: 60px;
width: 40px;
height: 40px;
padding: 5px;
padding-top: 25px;
}

.hp1-h:hover
{
        transition: 0.3s;
        filter: invert();
padding-right: 60px;
width: 40px;
height: 40px;
padding: 5px;
padding-top: 25px;
}
.hp12-h
{
margin-top: 7px;
width: 30px;
height: 30px;
float: right;
margin-right: 10px;
}

#log_form-h
{

float: right;
margin-top: 25px;
 border-width: 1px;
border-style: solid;
border-color: rgba(240, 248, 255, 0);
background-color: white;     
width: 700px;     
height:45px;     
border-radius: 10px;                 
align-items: center;
}

#log_input-h
{      
all: initial;
font: 20px system-ui;
color: gray;
width: 90%;
height: 40px;
float: right;
}

.icon-h
{
display: inline-block;
width: 20px;
height: 20px;
float: right;
margin-top: 18px;
margin-left: 5px;
color: yellow;
}

.hp123-h
{
text-align: center;
float: right;
display: inline-block;
height: 20px;
font-size: 18px;
font-weight: bold;
width: auto;
color: rgb(221, 242, 253);
font-family: Yekan Bakh;
}

.hp1234-h
{
text-align: center;
float: right;
display: inline-block;
height: 20px;
font-size: 18px;
font-weight: bold;
width: auto;
font-family: Yekan Bakh;
}

.space-h
{
float: right;
display: inline-block;
width: 50px;
}

.sec2-h{
        margin-left: 30px;
        
        float: right;
        
}
.sec2-h:hover{
        transition: 0.3s;
float: right;
filter: invert();
}

